body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}
/* Styling for the legend box */
.info.legend {
  background: white; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  line-height: 18px; 
  color: #333; 
}

/* Title inside the legend box */
.info.legend h4 {
  margin: 0 0 10px; 
  text-align: center; 
  font-weight: bold; 
}
